// main: ../style.less

.post-type-archive-recette, .blog, .archive {


   .type-menu { display: inline-block; margin: 50px 0; width: 100%;

      ul { float: left; list-style-type: none; padding: 0; margin: 0; display: inline-block; text-align: center; width: 100%; padding: 0 85px; }

      li { .make-sm-column(4); padding: 0 12.5px; display: inline-block; float: left;

         a { display: inline-block; width: 100%; line-height: 55px; font-size: 28px; background-color: @pink; color: #fff; text-transform: lowercase;

            &:hover, &.current, &:focus { background-color: darken(@pink, 10%); text-decoration: none; outline: none; }

            &.current {  position: relative;

               // &:before { content: ""; position: absolute; border: 1px solid #fff; width: 100%; height: 100%; margin: 10px; }
            }
         }
      }
   }

   .recettes-list {

      .post-thumbnail { margin-bottom: 30px; }
   }

   .alm-btn-wrap { clear: both;

      #load-more { font-size: 130px; color: @pink; background: none;
         display: inline-block;
         height: auto;
         line-height: 64px;
         padding: 0;
         border: none;
         box-shadow: none;
         .lato;

         &:before { opacity: 0; }
         &.loading { animation: rotating 2s linear infinite;  }
      }
   }
}

.blog, .category {

   .type-menu {

      ul { float: left; list-style-type: none; padding: 0; margin: 0; display: inline-block; text-align: center; width: 100%; padding: 0; }

      li { padding: 0; display: inline-block; float: none; width: auto;

         a { display: inline-block; line-height: 35px; font-size: 18px; padding: 0 15px; background-color: #fff; color: @navy; text-transform: uppercase;

            &:hover, &.current, &:focus { background-color: @navy; color: #fff; text-decoration: none; outline: none; }
         }
      }
   }


   .alm-btn-wrap {

      #load-more { color: @navy; }
   }

   .list-post {

      .inner-meta { margin-bottom: 50px;

         h3 { .lato; font-weight: bold; font-size: 18px; margin: 20px 0 5px 0; color: #5c5a5a; }
         p { color: #959595; line-height: 1.6; }
         .more { display: block; color: @royal; margin: 5px 0 0 0;

            &:hover { color: @navy; }
         }
      }
   }
}
