// main: ../style.less

.listify  {

   footer { background-color: @navy; .open; padding: 90px 0;

      .footer-widget-column:first-child { margin-bottom: 0; }

      p { line-height: 1.6; margin: 0 0 30px 0; }

      .footer-widget-title, h4 { font-size: 13px; text-transform: none; font-weight: 600; margin: 0 0 25px 0; }

      .mc4wp-form { display: inline-block; width: 100%;

         .field-wrap { position: relative; margin: 0 0 10px 0;

            input { width: 100%; line-height: 28px; font-size: 25px; color: @light-blue; padding: 15px; }
            .send {
               border-top-left-radius: 0;  border-bottom-left-radius: 0; box-shadow: none; transition: 0.3s all ease;
               background-image:url('images/check-input.png'); background-size: initial; background-position: center; background-repeat: no-repeat;
               width: 70px; height: 60px; text-indent: -9999px; position: absolute; right: 0; top: 0; background-color: @green;

               &:hover, &:focus { background-color: darken(@green, 10%); }
            }
         }

         small { color: @light-blue; font-size: 12px; }
      }

      .menu-footer {

         strong { display: inline-block; margin: 0 0 15px 0; }
         li {  display: inline-block; width: 100%; margin: 0 0 5px 0; line-height: 1.2; }
      }
   }

   #colophon { .lato; background-color: darken(@navy, 10%); color: @light-blue; font-size: 12px; padding: 30px 0; text-transform: uppercase;

      .naj { text-align: right; }
      a { color: @light-blue; }
      a:hover { color: @green; }
   }
}
